<html lang="en">
<header>
    	<link rel="stylesheet" type="text/css" href="/public/static/main.css">
</header>
    <title> {{.title}} </title>
    <body>
        <main>
            <p>test</p>
        </main>
    </body>
</html>
